* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Tilda Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #141C3A;
}

nav{
    display: flex;
    justify-content: end;
    gap: 169px;
    height: 126px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
    color: var(--black);
}

nav ul{
    list-style-type: none;
    display: flex;
    padding: 10px;
    font-size: 22px;
    justify-content: space-between;
    font-weight: 700;
    gap: 117px;
}

nav div, nav ul{
    margin: auto 0;
}

h1{
    font-size: 60px;
    margin: 80px 0;
    text-transform: uppercase;
}

#h1-skills{
    margin-bottom: 60px;
}

#h1-projects{
    margin: 140px auto 70px auto;
}

h2{
    font-size: 34px;
}

h3{
    font-size: 28px;
}

.h3-section{
    color: var(--orange);
    margin-bottom: 12px;
}

main{
    text-align: center;
}

p{
    margin-bottom: 67px;
}

#p-about{
    width: 902px;
    margin: auto;
    margin-bottom: 60px;
}

.button-navigation, .button-git, .div-with-form button, .arrow{
    display: block;
    border: 2px solid;
    background-color: var(--white);
    border-color: var(--light-blue);
    border-radius: 15px;
    color: var(--light-blue);
    font-size: 24px;
    width: 332.5px;
    height: 60px;
    align-content: center;
    margin: 100px auto;
}

.button-navigation > span{
    margin: auto;
}

.button-navigation{
    margin: 0 137.7px 0 0;
    text-align: center;
}

.button-footer{
    border: 2px solid;
    border-color: var(--white);
    border-radius: 15px;
    color: var(--white);
    font-size: 28px;
    white-space: nowrap;
    background-color: rgb(91, 74, 179);
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}

.special-h1{
    text-transform: none;
}

.button-footer:hover{
    background-color: var(--white);
    color: rgb(91, 74, 179);
    transition: 1s;
}

.button-navigation:hover, .button-git:hover, .div-with-form button:hover, .arrow:hover{
    background-color: var(--light-blue);
    color: var(--white);
    transition: 1s;
}

.main-coding-img{
    width: 540px;
}

.back-color-section{
    background-color: var(--light-blue);
    width: 100%;
    padding: 60px 120px;
}

#back-color-section-end{
    margin-top: 60px;
}

#section-about-me{
    position: relative;
    margin-bottom: 650px;
    padding-bottom: 200px;
}

#section-about-me img{
    position: absolute;
    transform: translateX(-50%);
}

#img-me{
    width: 450px;
    border-radius: 30px;
    border: 5px solid var(--light-blue);
}

.skills-colums{
    display: grid;
    width: 1344px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid;
    border-radius: 20px;
    border-color: var(--light-blue);
}


.one-skills-colum:not(:last-child, #not-one-skills-colum){
    border-right: 1px solid;
    border-color: var(--light-blue);
}

.skills-img{
    width: 90px;
    margin-bottom: 25px;
    padding-top: 70px;
}

.p-string-1{
    margin-top: 25px;
}

.projects-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 1318px;
    height: 494px;
    margin: 0 auto;
}

.projects-grid-item{
    border: 3px solid var(--purple);
    border-radius: 20px;
    align-content: center;
    width: 100%;
    height: 242px;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

.projects-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease;
    opacity: 1;
}

.projects-grid-item:hover,
.projects-grid-item:hover a{
    color: var(--white);
    transition: 1s;
    transform: scale(1.05);
    
}

.projects-grid-item:hover{
    background-color: var(--purple);
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.projects-content{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 53px auto;
}

.button-projects{
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease;
    border: 2px solid;
    background-color: transparent;
    border-color: var(--white);
    border-radius: 15px;
    color: var(--white);
    font-size: 25px;
    width: 235.7px;
    height: 45px;
    align-content: center;
    margin: 0 auto;
    height: 45px;
    width: 235.7px;
    margin-top: 30px;
}

.projects-content p{
    color: var(--white);
    opacity: 0;
    transition: opacity 0.4s ease;
    margin-bottom: 15px;
}

.projects-grid-item:hover .projects-img {
    opacity: 0;
}

.projects-grid-item:hover .button-projects,
.projects-grid-item:hover .projects-content p,
.projects-grid-item:hover a {
    opacity: 1;
    color: var(--white);
}

.div-with-form{
    display: flex;
    margin: 100px auto 164px auto;
    gap: 136px;
    width: 1710px;
}

.div-with-form img{
    width: 646px;
}

.div-with-form form{
    width: 100%;
    font-size: 20px;
    text-align: left;
}

.top-cell{
    display: flex;
    gap: 132px;
    margin-bottom: 48px;
}

.top-cell input{
    width: 398px;
    height: 74px;
}

.bottom-cell-style input{
    width: 928px;
    height: 342px;
}

.bottom-cell-style input, .top-cell input{
    border: 2px solid var(--light-blue);
    border-radius: 10px;
    margin-top: 20px;
}

.div-with-form button{
    margin: 51px 0 0 auto;
    background-color: var(--white);
}

#feedback-section{
    width: 735px;
    margin: 0 auto;
}

#feedback-section > p{
    margin: 0;
}

.img-feedback{
    width: 350px;
    border: 3px solid var(--light-blue);
    border-radius: 10px;
    margin: 51px 0 71px 0;
}

.info-feedback{
    font-size: 16px;
    margin: 20px 0 41px 0!important;
}

.arrow{
    margin: 0;
    width: 63px;
    height: 40px;
}

#arrows{
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer{
    background: var(--light-blue);
    margin-top: 140px;
    padding-top: 70px;
    height: 524px;
}

.cooperation-div{
    position: relative;
    top: -37%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: var(--purple);
    width: 1344px;
    height: 190px;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    color: var(--white);
    gap: 60px;
    justify-content: space-between;
    padding: 0 65px;
}

.cooperation-h2{
    font-size: 30px;
    width: 323px;
}

.cooperation-p{
    font-size: 20px;
    margin: 0;
    width: 466.7px;
}

.arrow{
    padding: 0 15px;
    border-radius: 30px;
}



.links{
    font-size: 16px;
    text-align: center;
    margin-top: 100px;
}